<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/dashboard">
        <span class="title">PURR by JOYRATS</span>
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      </a>
    </div>
  </nav>

  <section class="section bgBlue">
    <div class="container">
      <h1 class="title txtWhite">
        Welcome to PURR
      </h1>
      <p class="subtitle txtWhite">
        An app to navigate the isolation of a 14-day quarantine &mdash; alone, but with a digital pet.
      </p>
    </div>
  </section>
  
  <%- include('partials/footer.ejs') %>
</body>

</html>
